html,body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    font-family:'Roboto';
    background-image: url(../img/picture.jpg); 
    color:black;
  }
.success, .error, .removed{
 color:white;
 padding:5px;
 margin:5px 0 15px 0;
}
.success{
    background-color: rgb(19, 185, 3);
}
.error{
    background-color: rgba(233, 58, 58, 0.747);
}
.removed{
    background-color: rgb(212, 182, 8);
}
h1, h3{
    font-size:40px;
    text-align:center;
    font-weight:bold;
}
a{
    text-decoration:none;
    color:black;
}
#btn{
    background-color:rgba(59, 131, 246, 0.726);
    color:white;
    border:none;
    text-align: center;
}
#btn:hover{
    background-color:rgb(102, 101, 101);
    color:white;
}

p, #book-list{
    color:black;
    font-size:15px;
    font-weight:bold;
    text-align:center;
}
.container{
    position:relative;
    width:75%;
    height:auto;  
    display:block;
    border-radius:20px;
    place-content:center;
    background:rgba(255, 255, 255, 0.01);
    border-top:1px solid rgba(255, 255, 255, 0.5);
    border-bottom:1px solid rgba(255, 255, 255, 0.25);
    border-left:1px solid rgba(255, 255, 255, 0.3);
    border-right:1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter:blur(12px);
    box-shadow:0 28px 45px rgba(0,0,0, 0.1);
    padding:50px;
    justify-content: center;
}
@media (min-width:358px) and (max-width:500px){
    h1, h3{
        font-size:30px;
    }
    .container{
        position:relative;
        width:85%;
        height:auto;  
        padding:30px;
    }
}
@media (min-width:250px) and (max-width:357px){
    h1, h3{
        font-size:25px;
    }
    .container{
        position:relative;
        width:100%;
        height:auto;  
        padding:23px;
    }
    p, #book-list{
        font-size:13.4px;
    }
}